@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));


/* Re-assign Flux's gray of choice... */
@theme {
    --color-zinc-50: var(--color-slate-50);
    --color-zinc-100: var(--color-slate-100);
    --color-zinc-200: var(--color-slate-200);
    --color-zinc-300: var(--color-slate-300);
    --color-zinc-400: var(--color-slate-400);
    --color-zinc-500: var(--color-slate-500);
    --color-zinc-600: var(--color-slate-600);
    --color-zinc-700: var(--color-slate-700);
    --color-zinc-800: var(--color-slate-800);
    --color-zinc-900: var(--color-slate-900);
    --color-zinc-950: var(--color-slate-950);
}

@theme {
    --color-accent: var(--color-yellow-400);
    --color-accent-content: var(--color-yellow-600);
    --color-accent-foreground: var(--color-yellow-950);
}

@layer theme {
    .dark {
        --color-accent: var(--color-yellow-400);
        --color-accent-content: var(--color-yellow-400);
        --color-accent-foreground: var(--color-yellow-950);
    }
}

  @layer base {

      *,
      ::after,
      ::before,
      ::backdrop,
      ::file-selector-button {
          border-color: var(--color-gray-200, currentColor);
      }

   

  }

 
/* Glass effect for all nav items */
/* [data-flux-navlist-item] {
    background-color: rgb(253, 252, 252); 
    color: black;
    backdrop-filter: blur(8px); 
    transition: background-color 0.2s, color 0.2s;
    margin-bottom: 5px;
} */

/* Hover effect */
[data-flux-navlist-item]:hover {
    background-color: rgba(133, 133, 133, 0.233); /* optional */
   
    border: 2px solid rgb(253, 252, 252); /* width, style, color */
}


/* Active/current state (pressed effect) */
[data-flux-navlist-item][data-current="data-current"] {
    background-color: rgba(3, 226, 52, 0.342);
    color: rgb(0, 0, 0);
    font-weight: 600;
    /* box-shadow: inset 0 0 6px rgba(0,0,0,0.2); */
     /* pressed effect */
    /* border: 2px solid rgb(253, 252, 252); */
}




[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

html {
  font-size: 20px;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */

@layer utilities {
  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .animate-\[fade-in-scale_0\.2s_ease-out\] {
    animation: fade-in-scale 0.2s ease-out;
  }
}



